.app {
    width: 50%;
    height: 25%;
    border-radius: 1rem 1rem 0 0;
    box-shadow:0.3rem 0 0.8rem -0.4rem #000;
}

.show {
    display: flex;
}

.hide {
    display: none;
}

@media (min-width: 30rem) and (max-width: 40rem) {
   
    html {font-size: 0.5rem;  } 
  }

