.content {
    margin: 0;
    width:100%;
    height:100%;
    font-size: 1.5rem;
    display:flex;
    align-items: center;
}

.photo {
    text-align: center;
    width:15rem;
    height:18rem;
}

span{
    padding-top: 3rem;
}
